<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="badwomen.mapper.EmployeeListMapper">
    <select id="selectListEmployee" resultType="badwomen.model.Employee">
        select * from employee limit #{offset},#{size}
    </select>
    <select id="count" resultType="Integer">
        select count(1) from employee
    </select>
</mapper>